.container {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.posts_container {
    display: flex;
    gap: 1em;
    flex-flow: column wrap;

}